<form>
    @Html.TextBox("clienteId", (int)ViewBag.ITEM.ClienteId)
    @Html.TextBox("item1", (string)ViewBag.ITEM.Item1)
    @Html.TextBox("item2", (string)ViewBag.ITEM.Item2)
    @Html.TextBox("texto", (string)ViewBag.ITEM.Texto)
<input type="submit" />
</form>