


Ver o id do nome selecionado na drop: @ViewBag.CHAVE
<br />
<a asp-controller="DROP" 
   asp-action="Index" 
   asp-route-Id=@ViewBag.CHAVE>Regressar ao Index,levando o Id para ser valor predefinido na drop</a>
