@model PKX.Models.Tempo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Tempo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descritivo" class="control-label"></label>
                <input asp-for="Descritivo" class="form-control" />
                <span asp-validation-for="Descritivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Minutos" class="control-label"></label>
                <input asp-for="Minutos" class="form-control" />
                <span asp-validation-for="Minutos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AtividadeId" class="control-label"></label>
                <input asp-for="AtividadeId" class="form-control" />
                <span asp-validation-for="AtividadeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuncionarioId" class="control-label"></label>
                <input asp-for="FuncionarioId" class="form-control" />
                <span asp-validation-for="FuncionarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <input asp-for="ClienteId" class="form-control" />
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
