@{
    ViewBag.Title = "Início";
}
<br />

<hr />
    <table>
        <tr>
            <td width="60%" align="center">
                <br />
                <br />
                <p><h8>PJMCONTA, CONTABILIDADE E INFORMÁTICA LDA.</h8>
                <br />
                <br />
                    <img src="~/Imagens/smile.png" width="80px" />

</td>
            <td>
                <h7>Descrição dos links:</h7>

                <h5>LT - lista telefónica para pessoas e organizações não clientes</h5>
                <h5>CLIDADOS - contactos de clientes; em "Detalhes", logins e senhas</h5>
                <h5>CLIREU -registo de reuniões e apontamentos com clientes</h5>
            </td>
        </tr>
    </table>
    

    @*
    <h5>DOCS - escritura, certidão e outros documentos da Pjmconta </h5>
    <h5>MG1 - não utilizar</h5>
    <h5>MG2</h5>
    <h5>Login</h5>
    <h5>Logout</h5>
    <h5>Sobre</h5>
    *@