
@{
    ViewBag.Title = "S";
}


<h4>Aplicação Kronos (ASP.NET 4.52 / MVC 5 / Entity framework 6) </h4>
<h4>Versão K195</h4>
<h4>Versão a base de dados - SQL Server 2016, instância KRONOS153, contentor K170</h4>
<h4>2017-04-07</h4>