



<pre>

    <hazul>Projeto KX</hazul>
    <h8>(Projeto Kronos eXtended)</h8>

    Aplicação didática para aprendizagem ASP.NET Core

    <h7>Versão <hred>1.6</hred></h7> | <h7> (2025-03-16)</h7>

    ASP.NET Core MVC (.NET8)
    SQL Server (motor 15)

    Designação da base de dados: bdPKX
    Instância: 62.28.39.135,62444

    <div class="mydivazul">   

    </div>


    <hpiqueno>Versão 1.1 (2025-02-21) </hpiqueno>  &nbsp;&nbsp;
    <img src="~/Icons/smile.png" width="20" />

</pre>














<a asp-controller="Drop" asp-action="Index">
    <span style="color:red"><strong>DropDownList com persistência</strong></span>
</a>



