@{    ViewBag.Title = "Index";}
<br />
<h8>DOCUMENTOS PDF e MINUTAS WORD / EXCEL</h8>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>     <link rel="stylesheet" href="~/content/menus/styles.css" type="text/css" />  </head>
<body>
    
    <hr />
    <ul id="navmenu">
        @* ####################################################################################################*@
        <li><a href="~/Z-FicheirosPDF/170331 Contrato de Sociedade.pdf" >Contrato de sociedade</a></li>



        @* ####################################################################################################*@
        <li><a href="~/Z-FicheirosPDF/170330 Certidão Permanente válida até Março 2018.pdf">Certidão permanente</a></li>

        @* ####################################################################################################*@
        <li>
            <a>Documentos contabilísticos</a>
            <ul>
                <li>
                    <a href="">Balancete razão</a>
                </li>
                <li><a href="">Relatório anual</a></li>
                <li><a href="">Mapa de amortizações</a></li>
            </ul>
        </li>

        @* ####################################################################################################*@
        <li>
            <a >Sócios</a>
            <ul>
                <li> <a href="">Documentos dos sócios</a>    
                    <ul>
                        <li><a href="">C. cidadão de Joaquim Castro</a></li>
                        <li><a href="">Passaporte de Maria Silva</a></li>
                        <li><a href="">Boletim vacinas Joaquim C.</a></li>
                        <li><a href="">Foto tipo passe M. Silva</a></li>
                    </ul>
                </li>
                <li><a href="170330 Certidão Permanente válida até Março 2018.pdf">Certidão Permanente</a></li>
                <li><a href="170221 Certidão Finanças.pdf">Certidão das finanças</a></li>
            </ul>
        </li>

        
        @* ####################################################################################################*@
        <li><a href="">MINUTAS</a>
            <ul>
               
                <li><a href="~/Z-FicheirosPDF/Minuta de carta formal.docx">Carta formal</a>   </li>            
                <li><a href="">Carta simples para clientes</a></li>                                 
                <li><a href="">Pedido de certidão de teor</a></li>
                <li><a href="~/Z-FicheirosPDF/160303 Documento de entrega de elementos contabilisticos.docx">Entrega de doc.contabilísticos</a></li>
                <li><a href="~/Z-FicheirosPDF/mapa de amortização.xlsx">Mapa de amortização</a></li>
            </ul>
        </li>
           
    </ul>
</body>
</html>


